$icon-font-path: '../fonts/';
$body-bg: #3e3a5a;
$brand-primary: #d35f5f;
$text-color:white;
$font-family-sans-serif:  sans-serif;
$link-color: mix($brand-primary, $text-color);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin transform($transform) {
          transform: $transform;
  -webkit-transform: $transform;
      -ms-transform: $transform; // IE9 only
       -o-transform: $transform;
}


@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(glowing) {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,0);
  }

  50% {
    text-shadow: 0 0 10px rgba(255,255,255,1) ,
                 0 0 20px rgba(255,255,255,1) ,
                 0 0 30px rgba(255,255,255,1) ,
                 0 0 40px rgba(255,255,255,0.7),
                 0 0 50px rgba(255,255,255,0.7);
  }

  100% {
    text-shadow: 0 0 10px rgba(255,255,255,0);
  }
}

.main {


  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
  display: block;

  &:after {
    content:"";
    z-index:30;
    position: absolute;
    top:50%;
    left:-50%;
    right:-50%;
    bottom:-50%;
    min-height:400px;
    background: $brand-primary;
    display: block;
    @include transform(rotate(-17deg));
  }

  &__miz {
    z-index:200;
    position: absolute;
    bottom:20px;
    right:20px;
  }

  &__brand {

    &:after {
      content:"";
      z-index:-1;
      position:absolute;
      right:50%;
      top:50%;
      height:200px;
      width:331px;
      background:$brand-primary;
    }

    &__logo {
      z-index:10;
      position:absolute;
      right:50%;
      top:50%;
      @include transform(translate(0, -70%));
    }

    &__punchline  {
      z-index:20;
      position:absolute;
      left:50%;
      bottom:50%;
      font-weight: bold;
      white-space: nowrap;
      color:rgba($text-color, 0.7);
      font-variant: small-caps;
      font-size:150%;
      display: block;
      @include transform( translate(20px, -80px) skewY(-17deg) );
      @include animation(glowing 6s ease-in-out infinite);
    }

    &__credits {
      position:absolute;
      left:50%;
      top:50%;
      z-index:40;
      font-weight: bold;
      display: block;
      @include transform( translate(20px, -50px) skewY(-17deg) );

      span {
        background: darken($brand-primary, 10);
        display: inline-block;
        padding:5px;
        margin-right:5px;

        img {
          height:1em;
        }
      }
    }
  }

}
